/* CSS untuk Tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

thead th,
tbody td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody td {
  color: #333;
}
